{{yield}}

{{#paper-card}}
  <md-card-title>
    <span class="md-title">Goal Feedback Form</span>
  </md-card-title>

  {{paper-divider}}

  {{#paper-list}}
    {{#paper-item class="md-2-line"}}
      {{#if engagement.coachee.thumbImg}}
        <img class="md-avatar" src="{{engagement.coachee.thumbImg}}">
      {{/if}}

      <div class="md-list-item-text">
        <h3 class="list_item-title">Engagement for {{engagement.coachee.name}}</h3>
        <h4 class="list_item-subtitle">Coached by {{engagement.coach.name}}</h4>
      </div>
    {{/paper-item}}

    {{paper-divider}}

    {{#each goals as |goal|}}
      {{rating-response-goal model=goal engagement=engagement registerAction="registerGoalComponent"}}
    {{/each}}

    <div layout="row" layout-align="center center">
      {{#if errors}}
        {{#each errors as |error|}}
        <p class="md-body-1">
          {{error}}
        </p>
        {{/each}}
      {{/if}}
    </div>

    <div class="layout-row layout-align-end-center">
      {{#paper-button raised=true primary=true onClick=(action "submit")}}
        Send feedback
      {{/paper-button}}
    </div>
  {{/paper-list}}

{{/paper-card}}
