{{yield}}

<h1 class="rating_response-title">Please provide goal feedback</h1>

<div class="rating_response-details">
	<div class="list_item">
		{{#if engagement.coachee.thumbImg}}
			<img class="list_item-icon" src="{{engagement.coachee.thumbImg}}">
		{{/if}}
		<span class="list_item-title">Engagement for {{engagement.coachee.name}}</span>
		<span class="list_item-subtitle">Coached by {{engagement.coach.name}}</span>
	</div>
</div>

<div class="rating_response-container">
	{{#each goals as |goal|}}
		{{rating-response-goal model=goal engagement=engagement registerAction='registerGoalComponent'}}
	{{/each}}
</div>

<button class="rating_response-submit"{{action 'submit'}}>Send Feedback</button>
