{{x-slider class="slider" min=0 max=100 step=1 value=value}}
<div class="rating_goal-rating-legend">
  <span>0</span>
  <span class="pull-right">100</span>
</div>

<div class="rating_goal-rating-value">
  {{#if value}}
    Your Rating: {{value}}
  {{else}}
    Not yet rated
  {{/if}}
</div>

<div class="rating_goal-rating-subtitle">
  <p class="md-body-1">
    Please provide a rating of 0 to 100 indicating how {{engagement.coachee.name}} is progressing toward this goal. 0
    indicates no progress toward this goal whereas 100 indicates no further work is needed.
  </p>
</div>

<p class="rating_goal-rating-subtitle md-body-1">
  Please provide narrative feedback on how {{engagement.coachee.name}} is progressing toward this goal.
</p>

{{paper-input
textarea=true
flex=100
class="rating_goal-text_input"
value=review
onChange=(action (mut review))
label='Enter your narrative feedback'}}

{{yield}}
