{{yield}}

{{#paper-card}}
  <md-card-title>
    <span class="md-title">Goal Feedback Form</span>
  </md-card-title>

  {{paper-divider}}

  {{#paper-card-content}}
    {{#paper-item class="md-2-line"}}
      {{#if engagement.coachee.thumbImg}}
        <img class="md-avatar" src="{{engagement.coachee.thumbImg}}">
      {{/if}}

      <div class="md-list-item-text">
        <h3 class="list_item-title">Engagement for {{engagement.coachee.name}}</h3>
        <h4 class="list_item-subtitle">Coached by {{engagement.coach.name}}</h4>
      </div>
    {{/paper-item}}
  {{/paper-card-content}}

  {{paper-divider}}

  {{#each goals as |goal|}}
    {{rating-response-goal model=goal engagement=engagement registerAction='registerGoalComponent'}}
  {{/each}}

  {{#paper-card-content}}
    <div layout="row" layout-align="end center">
      {{#paper-button raised=true primary=true onClick=(action 'submit')}}
        Send feedback
      {{/paper-button}}
    </div>
  {{/paper-card-content}}

{{/paper-card}}
