<div class="rating_goal-rating-subtitle">
  <p>
    Please provide a rating to indicate how {{engagement.coachee.name}}
    is progressing toward this goal.
  </p>
</div>

{{rating-five-point-scale flex=true discrete=true value=value step=1 min=0 max=100}}

<div class="md-caption rating_goal-rating-value layout-row layout-align-center-start">
  {{#if value}}
    Your Rating = {{value}}%
  {{else}}
    Not yet rated
  {{/if}}
</div>

<br>

<p class="rating_goal-rating-subtitle">
  Please explain the rationale behind your rating and provide feedback below.
</p>

<div class="layout-row flex">
  {{paper-input
    textarea=true
    class="rating_goal-text_input flex-100"
    value=review
    onChange=(action (mut review))
    required=true
    errorMessages=(hash required="Feedback comments are required")
    placeholder="Enter your comments*"}}
</div>

{{yield}}
