{{!-- {{x-slider class="slider" min=0 max=100 step=1 value=value}} --}}

{{paper-slider flex=true discrete=true value=value step='1' min='0' max='100'}}

<div layout="row" flex>
  <span class="md-body-2">0</span>
  <span flex></span>
  <span class="md-body-2">100</span>
</div>

<div layout="row" layout-align="center start" class="md-title rating_goal-rating-value">
  {{#if value}}
    Your Rating: {{value}}
  {{else}}
    Not yet rated
  {{/if}}
</div>

<div class="rating_goal-rating-subtitle">
  <p class="md-body-1">
    Please provide a rating of 0 to 100 indicating how {{engagement.coachee.name}} is progressing toward this goal. 0
    indicates no progress toward this goal whereas 100 indicates no further work is needed.
  </p>
</div>

<div layout="row" flex>
  {{paper-input
    textarea=true
    flex=100
    class="rating_goal-text_input"
    value=review
    onChange=(action (mut review))
    label='Enter your comments'}}
</div>

<p class="rating_goal-rating-subtitle md-body-1">
  Please provide comments on how {{engagement.coachee.name}} is progressing toward this goal.
</p>

{{yield}}
