{{#paper-card-content}}

  <span class="md-caption">{{model.competency.name}}</span><br>
  <span class="md-title">{{model.name}}</span>
{{/paper-card-content}}

{{paper-divider}}

{{#paper-card-content}}
<br><br>

  <div class="rating_goal-rating-container">
    {{rating-response-goal-rating engagement=engagement value=ratingValue review=ratingReview}}
  </div>

  {{yield}}
{{/paper-card-content}}
